ion-content{
 
      --ion-background-color:rgb(178, 186, 189);
    }
  
 ion-card{
    --ion-background-color:rgb(245, 243, 243);   
 }
 ion-label{
    margin-left: 20px;
 }
 ion-button{
   margin-left: 140px;
}

 h3 {
   margin-left: 20px;
   font-weight: bold;
   color: black;
}
#top{
   --ion-background-color:rgb(74, 193, 236);
   }
 