<ion-toolbar id="top" >

  <ion-buttons slot="start">
    <ion-menu-button autoHide="false">

    </ion-menu-button>
  </ion-buttons>
<ion-col slot="end">
    <ion-icon id="cart-btn" routerLink="/cart" ion-button icon-only id="cart" size="large" name="cart"></ion-icon>
    <ion-badge id="cart-badge" class="circular" name="checkmark-circle">{{allCartItems.length}}</ion-badge>
  </ion-col>
</ion-toolbar>

<ion-content>
  <ion-row>
    <ion-col  size="9">
      <ion-searchbar [(ngModel)]="byTitle" (keyup.enter)="getItemsByTitle(byTitle)"></ion-searchbar>

    </ion-col>
    <ion-col  size="3">
      <ion-button id="filter" routerLink="/filters" color="secondary" size="small">Filter</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor = "let list of itemsList" size="6">
      <ion-card  class="video-thumbnail">
        <img  (click)="description(list)" src="http://localhost:8000/{{list.image}}">
          <i [ngStyle]="{'color':getStatus(list.dietType)}"><ion-icon id="card" size="large" name="ellipse-sharp"></ion-icon></i>
        <ion-card-content >
          <ion-col size="9"><b>{{list.title}}</b></ion-col>
          <ion-col size="3"><b>{{list.points}}</b></ion-col>
          <!-- <ion-col size="3"><ion-icon ion-button color="danger" (click)="like()" icon-only size="large" id="heart" name="heart"></ion-icon>
            <ion-badge id="cart-badge1" class="circular" size="small" color="secondary" name="checkmark-circle">{{likes}}</ion-badge>
          </ion-col> -->
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
</ion-content>
